@mixin decorateElementWithTwoDashes() {
    content: "\f068";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: relative;
    font-size: 0.5rem;
    margin: 0 8px;
    top: 2px;
    place-self: center;
}
