@use './fonts.scss';

:root {
  --color-caramel: #FCD68D;
  --color-moss-green: #89A25B;
  --color-olivine: #A8B875;
  --color-offwhite: #F0F0F0;
  --color-charcoal-gray: #2d2d2d;
  --color-studio-green: #2d302e;

  --color-page-border: color-mix(in srgb, var(--color-caramel), transparent 25%);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
  background: var(--color-studio-green);
  color: var(--color-offwhite);
}