@use './fonts.scss';

:root {
  --color-caramel: #FCD68D;
  --color-moss-green: #89A25B;
  --color-olivine: #A8B875;
  --color-offwhite: #F0F0F0;
  --color-charcoal-gray: #2d2d2d;
  --color-vintage-black: #242424;
  --color-studio-green: #2d302e;

  --color-page-border: color-mix(in srgb, var(--color-caramel), transparent 25%);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
  background: #000;
  background: #F0F0F0;
  color: var(--color-offwhite);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    filter:  blur(0.2px) brightness(0.9);

    background-image: url("/public/textures/regal.png");
    opacity: 0.92;
    mix-blend-mode: difference;
  }
}