:root {
  --color-caramel: #FCD68D;
  --color-moss-green: #89A25B;
  --color-olivine: #A8B875;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  color: #fff;
	background-image: url("./textures/seamless_tile.png");
  background-repeat: repeat;
  animation: moveBackground 20s ease-in-out infinite; 
}

@keyframes moveBackground {
  0% { background-position: 0 0; }
  50% { background-position: 10% 100%; }
  100% { background-position: 0 0; }
}

@font-face {
  font-family: Futura;
  src: url(./fonts/Futura_Book.ttf) format('truetype');
}

