---
import { getCollection } from "astro:content";
import DrinkEntry from "./DrinkEntry.astro";
import ArtisticDelimiter from "./decorative/ArtisticDelimiter.astro";

const { alcoholic } = Astro.props as {
	alcoholic: boolean;
};

const drinksCollection = await getCollection("drinks");
const drinksFilteredByAlcoholic = drinksCollection.filter(
	(drink) => drink.data.isAlcoholic === alcoholic,
);
const SUBTITLE = alcoholic ? "Cocktails selection" : "Mocktails selection";
---

<script src="../../libs/swiper.js"></script>

<h2 class="beverages__subtitle">{SUBTITLE}</h2>

<div class="beverages__container swiper drinksSwiper">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			{
				drinksFilteredByAlcoholic.map((drink, index) => (
					<>
						<DrinkEntry drinkData={drink.data} />
						{index !== drinksFilteredByAlcoholic.length - 1 ? (
							<div class="beverages__delimiter beverages__delimiter--small">
								<ArtisticDelimiter />
							</div>
						) : (
							<div class="beverages__delimiter">
								<ArtisticDelimiter showBottom={true} />
							</div>
						)}
					</>
				))
			}
		</div>
	</div>
	<div class="swiper-scrollbar"></div>
</div>

<style lang="scss">
	@use "/src/styles/mixins.scss" as *;


	.swiper {
		width: 100%;
		height: 100%;
		margin-bottom: 24px;

		&-slide {
			display: flex;
			flex-direction: column;
			font-size: 18px;
			height: auto;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}

		&-scrollbar {
			right: -2px !important;
			top: 1% !important;
			height: 95% !important;
			--swiper-scrollbar-drag-bg-color: color-mix(in srgb, var(--color-caramel), transparent 40%);
		}
	}

	.beverages {
		&__subtitle {
			display: flex;
			place-self: center;
			font-size: 2rem;
			font-family:
				Great Vibes,
				sans-serif;
			font-weight: 800;
			margin-top: 0;
			margin-bottom: 24px;

			&::after,
			&::before {
				@include decorateElementWithTwoDashes();
			}
		}

		&__delimiter {
			display: flex;
			place-self: center;
			width: -webkit-fill-available;
			height: 40px;
			margin-bottom: 24px;
			fill: color-mix(in srgb, var(--color-caramel), transparent 20%);

			&--small {
				height: 21px;
			}
		}
	}
</style>
