---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout pageTitle="Welcome">
	<section class="welcome__container">
		<a class="welcome__card" href="/mocktails" tabindex="0">
			<span class="welcome__cardName">Mocktails</span>
		</a>
		<a class="welcome__card" href="/cocktails" tabindex="0">
			<span class="welcome__cardName">Cocktails</span>
		</a>
	</section>
</BaseLayout>
<style lang="scss">
	a {
		text-decoration: none;
	}

	.welcome {
		&__container {
			display: flex;
			flex: 1 1;
			flex-wrap: wrap;
			gap: 6vw;
			place-items: center;
			place-content: center;

			overflow: visible;

			&:has(:hover, :focus-within) {
				.welcome:not(:hover, :focus) {
					opacity: 0.4;
				}
			}
		}

		&__card {
			--outline-w: 9px;
			--shadow-blur: 50px;
			--shadow-color: oklch(25% 0.0075 70);

			display: flex;
			align-items: flex-start;
			position: relative;
			height: 35vw;
			min-height: 350px;
			width: 25vw;
			min-width: 250px;

			background-image: url("/src/styles/textures/BonifacyFilemon.jpg");
			border: var(--outline-w) solid var(--border-color, transparent);
			border-radius: 6px;
			outline: var(--outline-w) solid #fff;
			outline-offset: var(--outline-w);
			box-shadow: 0 0 var(--shadow-blur) 20px var(--shadow-color);

			scale: 0.85;
			rotate: var(--rotation);
			filter: grayscale(100%) sepia(5%);
			opacity: 0.69;

			&:focus-within,
			&:hover {
				--shadow-color: var(--shadow-color);
				--border-color: var(--shadow-color);
				--shadow-blur: 100px;

				background-color: white;
				outline-offset: calc(var(--outline-w) / 2);

				scale: 1;
				rotate: 0deg;
				filter: none;
				opacity: 1;

				transition-property: border, box-shadow, filter, outline-offset,
					opacity, rotate, scale, z-index;
				transition-duration: 0.15s, 0.15s, 0.3s, 0.3s, 0.3s, 0.3s, 0.3s,
					0.15s;
			}

			&:nth-of-type(1) {
				--rotation: 3deg;
				--shadow-color: var(--color-olivine);
				background-position: top -50px right -40px;

				justify-content: end;
			}

			&:nth-of-type(2) {
				delay: .25s;
				--rotation: -3deg;
				--shadow-color: var(--color-caramel);
				background-position-x: -100px;
			}
		}

		&__cardName {
			padding-top: 4px;
			font-size: 3.75rem;
			color: #fff;
			text-decoration: none;
			writing-mode: sideways-lr;
		}
	}
</style>
