---
import "../styles/global.css";
import { getCollection } from "astro:content";

const { alcoholic } = Astro.props;

const drinksCollection = await getCollection("drinks");
const drinksFilteredByAlcoholic = drinksCollection.filter(
	(drink) => drink.data.isAlcoholic === alcoholic
);
---

{
	drinksFilteredByAlcoholic.map((drink) => (
		<div>
			<div>{drink.data.title}</div>
			<div>{drink.data.ingredients}</div>
			<div>{drink.data.taste}</div>
			<div>{drink.data.intensity}</div>	
		</div>
	))
}
