---
import { BAR_NAME } from "../constants";
import BaseLayout from "./BaseLayout.astro";
const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
	<div class="beveragesLayout">
		<div class="beveragesLayout__wrapper">
			<span class="beveragesLayout__headerLabel">{BAR_NAME.slice(0,-2)} {BAR_NAME.slice(-2)}</span>
			<slot />
		</div>
		<footer class="beveragesLayout__footer">
			<span>05|2025</span>
		</footer>
	</div>
</BaseLayout>

<style lang="scss">
	@use '../styles/mixins.scss' as *;
	@use "sass:color";
	$border-color: rgba(var(--color-caramel), 0.6);
	.beveragesLayout {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		max-width: 480px;
		margin: 24px;
		padding: 24px 40px;
		border: 7px double var(--color-page-border);

		&__headerLabel {
			display: flex;
			place-self: center;
			font-size: 5rem;
			font-family: 
				Great Vibes,
				sans-serif;
			font-weight: 800;
		}

		&__footer {
			display: flex;
			margin-top: auto;
			margin-bottom: 8px;
			place-self: center;
			font-family: Pacifico;
			font-size: 1rem;
			letter-spacing: 4px;

			&::after, &::before {
				@include decorateElementWithTwoDashes();
			}
		}
	}
</style>
